$font-openSans: 'Open Sans', sans-serif;


$color-headerText: #484c55;
$color-headerTextHover: #60d1d3;
$color-headerBgHover: #f8f9fb;
$color-bannerTitle: #ffffff;
$color-bannerSubtitle: #ffffff;
$color-bannerButton: #ffffff;

$color-teamTitle: #4e525d;
$color-teamName: #4e525d;
$color-teamPosition: #4e525d;
$color-teamDescription: #4e525d;

$color-plansBasicBg: #485460;
$color-plansProcBg: #49cbcd;
$color-plansPremiumBg: #485460;
$color-plansTitle: #ffffff;
$color-plansListDarkBg: #f8f9fb;
$color-plansListLightBg: #ffffff;
$color-plansPriceText: #485460;
$color-plansText: #8c9299;
$color-plansButtonText: #ffffff;
$color-plansButtonBasicBg: #788492;
$color-plansButtonProBg: #49cbcd;
$color-plansButtonPremiumBg: #788492;

$zindex-header: 10;







